.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content {
  padding: 24px;
  flex: none;

  &.main-form {
    margin-top: -150px;
  }
}
.mdl-textfield__input {
  font-size: 20px;
}
.mdl-card__actions.facebook {
  padding: 0;

  a {
    text-decoration: none;
    &.btn-facebook {
      float: left;
      width: 100%;
      padding: 20px 20px 20px 54px;
    }
  }

  span:first-child {
    padding: 12px;
    width: auto;
    font-size: 1.8em;
  }
}

/* Avatars */
.select-avatar {
  padding-bottom: 25px;
  .avatar {
    width: 70px;
    float: left;
  }
  .mdl-textfield {
    float: left;
    width: 215px;
    margin-left: 10px;
  }
}
.avatars {
  .mdl-tabs {
    padding: 5px;
  }
  width: 340px;
  max-width: 92%;
  .avatar-image {
    width: 13%;
    float: left;
    margin: 1%;
    padding: 1%;
    border: 2px solid rgba(33, 150, 243, 0);

    &:hover {
      cursor: pointer;
    }
    &.selected {
      border: 2px solid rgba(33, 150, 243, 1);
    }
  }
  .mdl-tabs__tab {
    font-size: 12px;
    text-transform: none;
  }
}

/* Extras */
.clear {
  clear: both;
}
.off-screen {
  position: fixed;
  left: -9999px;
}
.responsive {
  max-width: 100%;
}
.fade {
  opacity: 0.5;
}