body {
  background: url('images/background.jpg') no-repeat;
  background-size: cover;
}
.mdl-layout__content {
  padding: 24px;

  .mdl-card__supporting-text {
    .mdl-textfield {
      width: 100%;
      textarea {
        resize: none;
      }
    }
  }
}
.dare {
  width: 19%;
  margin: 0.5% 0.5%;
  float: left;
  max-width: 100%;
  cursor: pointer;
}
.paper {
  background: url('images/paper2.jpg') 100% 100% no-repeat;
}
@media screen and (max-width: 1200px) {
  .dare {
    width: 25%;
  }
}
@media screen and (max-width: 960px) {
  .dare {
    width: 33.33333%;
  }
}
.mdl-card {
  min-height: 0;
}

.leaderboard {
  .mdl-layout-title {
    background: #fff;
    margin: 0 0 -5px 0;
  }
  .mdl-card.player {
    width: 100%;
    min-height: 60px;
    margin: 5px 0;
    //border: 2px solid rgba(33, 150, 243, 1);

    &.me {
      border-color: rgba(106, 179, 68, 1) !important;
    }

    h5.place {
      margin: 0 10px 0 -10px;
    }

    .mdl-card__supporting-text {
      padding: 5px;
      img {
        background: none !important;
        float: left;
        width: 40px;
        margin-top: 10px !important;
        height: auto;
      }
      h5 {
        float: left;
        font-size: 18px;
        margin-top: 20px;
        padding: 0 0 0 15px;
      }
    }
  }
}

/* Extras */
.clear {
  clear: both;
}
.off-screen {
  position: fixed;
  left: -9999px;
}
.responsive {
  max-width: 100%;
}
.fade {
  opacity: 0.5;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.square {
  .aspect-ratio(1, 1);
}

/* Mixins */
.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .content {
    position: absolute;
    padding:10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    span:before{
      content:"@{width}";
    }

    span:after{
      content:"@{height}";
    }
  }
}