/* fonts */
@font-face {
  font-family: 'CompleteinHim';
  src: url('../fonts/CompleteinHim.eot');
  src: url('../fonts/CompleteinHim.eot') format('embedded-opentype'),
  url('../fonts/CompleteinHim.woff2') format('woff2'),
  url('../fonts/CompleteinHim.woff') format('woff'),
  url('../fonts/CompleteinHim.ttf') format('truetype'),
  url('../fonts/CompleteinHim.svg#CompleteinHim') format('svg');
}

body {
  background: url('images/background.jpg') no-repeat;
  background-size: cover;
}
.layout-transparent {
  background: none;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}
.mdl-layout__content {
  padding: 60px 24px 24px 24px;

  .mdl-card__supporting-text {
    .mdl-textfield {
      width: 100%;
      textarea {
        resize: none;
      }
    }
  }
}

/* Form */
.drinksWorth {
  margin: 0 5px;
}

.paper {
  display: block !important;
  h2.activeDrinksWorth {
    font-size: 60px;
    margin: 0 0 30px 2.5%;
    float: left;
    width: 70px;
    bottom: 0;
    position: absolute;
  }
  div.activeDrinksWorthPic {
    float: left;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 25px;
    left: 70px;
    img {
      width: 100%;
    }
  }
}

.dare {
  width: 19%;
  margin: 0.5% 0.5%;
  float: left;
  max-width: 100%;
  cursor: pointer;
}
.paper {
  background: url('images/paper2.jpg') 100% 100% no-repeat;
  background-size: 100% 100%;

  &.showCard {
    .dareText {
      position: absolute;
      top: 5%;
      left: 2.3%;
      width: 96%;
      text-align: center;
      font-size: 34px;
      font-family: "CompleteinHim", Arial, sans-serif;
    }
  }

  .owner-name {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    margin-top: 40%;
  }
  img.owner-picture {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0.6;
  }
}
.votes {
  color: #fff;
  font-size: 20px;
}
.actions {
  width: 100%;
  float: left;
  padding: 25px 0 !important;
  .mdl-button--colored {
    color: #fff !important;
  }
  .right, .left {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .dare {
    width: 24%;
  }
}
@media screen and (max-width: 960px) {
  .dare {
    width: 32.33333%;
  }
}
.mdl-card {
  min-height: 0;
}

.stage-3-active-player-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  img {
    max-width: 100%;
  }
}
span.freePasses {
  float: left;
  margin-top: 15px;
  color: #fff;
}

.leaderboard {
  .mdl-layout-title {
    background: #fff;
    margin: 0 0 -5px 0;
  }
  .mdl-card.player {
    width: 100%;
    min-height: 60px;
    margin: 5px 0;
    //border: 2px solid rgba(33, 150, 243, 1);

    &.me {
      border-color: rgba(106, 179, 68, 1) !important;
    }

    h5.place {
      margin: 0 10px 0 -10px;
    }

    .mdl-card__supporting-text {
      padding: 5px;
      img {
        background: none !important;
        float: left;
        width: 40px;
        margin-top: 10px !important;
        height: auto;
      }
      h5 {
        float: left;
        font-size: 18px;
        margin-top: 20px;
        padding: 0 0 0 15px;
      }
    }
  }
}

.restart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #1BA52C !important;
}

/* Extras */
.clear {
  clear: both;
}
.off-screen {
  position: fixed;
  left: -9999px;
}
.responsive {
  max-width: 100%;
}
.fade {
  opacity: 0.5;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.square {
  .aspect-ratio(1, 1);
}
.full-width {
  width: 100% !important;
}

.danger-snackbar {
  background-color:red !important;
}

/* Mixins */
.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .content {
    position: absolute;
    padding:10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    span:before{
      content:"@{width}";
    }

    span:after{
      content:"@{height}";
    }
  }
}