.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content {
  padding: 24px;
  flex: none;

  &.main-form {
    margin-top: -150px;
  }
}
.mdl-textfield__input {
  font-size: 20px;
}
.mdl-card__actions.facebook {
  padding: 0;

  a {
    text-decoration: none;
    &.btn-facebook {
      float: left;
      width: 100%;
      padding: 20px 20px 20px 54px;
    }
  }

  span:first-child {
    padding: 12px;
    width: auto;
    font-size: 1.8em;
  }
}

.mdl-card.player {
  width: 100%;
  min-height: 90px;
  .mdl-card__supporting-text {
    img {
      background: none !important;
      float: left;
      width: 60px;
    }
    h5 {
      float: left;
      width: 200px;
      margin-top: 20px;
      padding: 0 0 0 15px;
    }
  }
}