/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.banner {
  height: 100%;
  width: 100%;
  position: relative;
}
.banner .banner-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}
.banner .banner-content {
  margin-top: 15%;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
  position: relative;
  text-align: center;
  z-index: 2;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.banner .banner-content h1 {
  font-size: 58px;
}
.banner .banner-content p {
  font-size: 18px;
}
a.mdl-button {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.1) !important;
}
a.mdl-button:hover,
a.mdl-button:focus {
  background: #6ab344 !important;
}
@media screen and (max-width: 556px) {
  .mdl-mini-footer {
    text-align: center !important;
  }
}
